.rac-minutes-button {
    border-radius: 5px;
    border-width: 1px;
    box-shadow: none;
    border-color: #6e6e6e;
    margin: 4px;
    padding: 10px;
    font-size: 24px;
}

.rac-time-label {
    border-radius: 5px;
    margin: 4px;
    padding: 4px 10px 4px 10px;
    background-color: #eeeeec;
    color: #3f3e40;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.rac-message-label {
    font-size: 64px;
    font-weight: bold;
    color: #eeeeec;
    background-color: #3f3e40;
    padding: .3em;
}

.rac-message-label-with-border {
    font-size: 64px;
    font-weight: bold;
    color: #eeeeec;
    background-color: #3f3e40;
    border: solid 1px #eeeeec;
    border-radius: 5px;
    padding: .3em;
}

.rac-message-close-button {
    font-size: 16px;
    color: #3f3e40;
    background-color: #eeeeec;
    border-radius: 5px;
    margin: .2em;
}

.rac-message-close-button:active {
   background-color: #3f3e40;
}

.rac-message-layout {
    font-size: 64px;
    font-weight: bold;
    background-color: #3f3e40;
    border: solid 1px #eeeeec;
    border-radius: 5px;
    padding: .2em;
}

.rac-message-entry {
    border-radius: 5px;
    margin: 16px 4px 4px 4px;
    border: solid 1px;
    font-size: 18px;
    /* don't allow resize entry by content */
    max-width: 1px; 
}
